<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RoposoAssignment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51CE6B431CC38DD40052C8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51CE6B5F1CC38DD40052C8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51CE6B6A1CC38DD40052C8DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
